@font-face {
  font-family: 'London Underground Heavy';
  src: local('./fonts/London Underground Heavy.ttf'), url('./fonts/London\ Underground\ Heavy.ttf') format('truetype');
}

body {
  font-family: 'London Underground Heavy';

}


.stop-arrivals-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.arrivals-list {
  list-style: none;
  padding: 0;
}

.arrival-card {
  color: yellow;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  background: black;
}

.station-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.line-name {
  font-size: 1em;
  margin: 5px 0;
}

.destination-name {
  font-size: 1em;
  margin: 5px 0;
}

.time-to-arrival {
  font-size: 1em;
  margin: 5px 0;
  color: #ececec; /* Blue color for emphasis */
}


.search-bar {
  margin-bottom: 10px;
}

.loading-message {
  font-style: italic;
  color: #888;
}

.error-message {
  color: #ff0000;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
}
